<!--  - #FOOTER-->

<footer class="footer" style="color: aliceblue; background-color: black;">
  <div class="container">

    <div class="footer-top section">

      <div class="footer-brand">

        <a href="#" class="logo">2WHEELS</a>

        <ul>

          <li class="footer-list-item">
            <ion-icon name="location-sharp" aria-hidden="true"></ion-icon>

            <address class="address">
              2Wheels, Chicago, USA 2022
            </address>
          </li>

          <li class="footer-list-item">
            <ion-icon name="call-sharp" aria-hidden="true"></ion-icon>

            <a href="tel:+1234567890" class="footer-link">+1234567890</a>
          </li>

          <li>
            <ul class="social-list">

              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-tumblr"></ion-icon>
                </a>
              </li>

            </ul>
          </li>

        </ul>

      </div>

      <ul class="footer-list">

        <li>
          <p class="footer-list-title">Help & Information</p>
        </li>

        <li>
          <a href="#" class="footer-link">Help & Contact Us</a>
        </li>

        <li>
          <a href="#" class="footer-link">Returns & Refunds</a>
        </li>

        <li>
          <a href="#" class="footer-link">Online Stores</a>
        </li>

        <li>
          <a href="#" class="footer-link">Terms & Conditions</a>
        </li>

      </ul>

      <ul class="footer-list">

        <li>
          <p class="footer-list-title">About Us</p>
        </li>

        <li>
          <a href="#" class="footer-link">About Us</a>
        </li>

        <li>
          <a href="#" class="footer-link">What We Do</a>
        </li>

        <li>
          <a href="#" class="footer-link">FAQ Page</a>
        </li>

        <li>
          <a href="#" class="footer-link">Contact Us</a>
        </li>

      </ul>

      <div class="footer-list">

        <p class="footer-list-title">Newsletter</p>

        <form action="" class="footer-form">
          <input type="email" name="email_address" placeholder="Your email address" required class="email-field">

          <button type="submit" class="footer-form-btn">
            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
          </button>
        </form>

        <div class="wrapper">

          <a href="#" class="footer-link">Term & Condition</a>
          <a href="#" class="footer-link">Policy</a>
          <a href="#" class="footer-link">Map</a>

        </div>

      </div>

    </div>

    <div class="footer-bottom">

      <p class="copyright">
        &copy; 2022 All Rights Reserved by <a href="#" class="copyright-link">codewithsadee</a>.
      </p>

    </div>

  </div>
</footer>