<%-include("../partials/user-header.ejs") %>
<%-include("../partials/user-loginHeader.ejs") %>

<body style="height: 100vh; background: linear-gradient(to right, #575352, #650780)">
   
  <div class="container">
      <div class="signin-content">
          <div class="signin-image">
              <figure><img src="userAssets/images/signin-image.jpg" alt="sing up image" /></figure>
          </div>

          <div class="signin-form">
              <h3 class="form-title">Change Password</h3>
              
              <form action="/change-password" method="post" id="login" class="register-form">
                  <div class="form-group" >
                      <label for="registerPassword" aria-placeholder="password"><i class="zmdi zmdi-phone material-icons-name"></i></label>
                      <input type="password" id="registerPassword"
                      name="changedPassword"
                      required
                      onblur="validatePassword()"
                       />
                      <div style="color: red;"
                      id="password-error"
                    class="errorLabel text-danger"
                    for="registerPassword"></div>
                  </div>
                  <div class="form-group">
                    <label for="registerPassword" aria-placeholder="confirmpassword"><i class="zmdi zmdi-phone material-icons-name"></i></label>
                    <input type="password" id="confirmPassword"
                    required
                    onblur="checkPassword()"
                     />
                  <span style="color: red;"
                  id="confirmPassword-error"
                    class="errorLabel text-danger"
                    for="confirmPassword"></span>
                </div>

                  <div class="form-group form-button">
                      <input  id="button"
                      name="button"
                      type="submit" class="otpform-submit" value="Change Password" />
                  </div>
                  

              </form>
              <div class="social-login">
                  <span class="social-label"><a href="/login" style="font-weight: bold">Login with Password</a></span>
              </div>
          </div>
      </div>
  </div>
</body>

<script>
  const passwordError = document.getElementById("password-error");
  const confirmPasswordError = document.getElementById("confirmPassword-error");

  function validatePassword() {
    var password = document.getElementById("registerPassword").value;
    if (password == "") {
      passwordError.innerHTML = "Password cannot be blank";
      return false;
    }
    if (!password[0].match(/^(?=.*[A-Z])/)) {
      passwordError.innerHTML = "First letter should be capital";
      return false;
    }

    if (password.length < 8) {
      passwordError.innerHTML = "Atleast 8 characters";
      return false;
    }

    if (!password.match(/^(?=.*[0-9])/)) {
      passwordError.innerHTML = "Atleast use one number";
      return false;
    }
    if (!password.match(/^(?=.*[!@#$%^&*])/)) {
      passwordError.innerHTML = "Atleast use one special character";
      return false;
    }
    if (!password.match(/^(?=.*[a-z])/)) {
      passwordError.innerHTML = "Use atleast one lowercase letter";
      return false;
    }
    passwordError.innerHTML = "";
    return true;
  }

  function checkPassword() {
    var password = document.getElementById("registerPassword").value;
    var Cpassword = document.getElementById("confirmPassword").value;
    if (password !== Cpassword) {
      confirmPasswordError.innerHTML = "Password Missmatching";
      return false;
    }
    confirmPasswordError.innerHTML = "";
    return true;
  }
  function validateForm() {
    if (!validatePassword() || !checkPassword()) {
      submitError.innerHTML = "Please fix all errors to submit.";
      setTimeout(function () {
        submitError.style.display = "none";
      }, 3000);
      return false;
    } else {
      document.getElementById("userForm").submit();
    }
  }
</script>

<%-include("../partials/user-loginHeader.ejs") %>
