<%-include("../partials/user-header.ejs") %>
<!DOCTYPE html>
<html>
<head>
  <title>Product Not Found</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      
    }

    h1 {
      color: #333;
    }

    .productnotfound{
      padding-top: 200px;
      padding-bottom: 200px;
    justify-content: center;
    }
    

  </style>
</head>
<body>
  <section class="productnotfound">

    <h1>Product Not Found</h1>
  <p>Your search item was not found.</p>
  <a href="/">Back to Home</a>
  </section>
  
</body>
</html>

<%-include("../partials/user-footer.ejs") %>


